#background1 {
    background-image: url(http://i52.tinypic.com/293kp50.gif);    
    
    left:0px;
    
    width: 512px;
    height: 317px;
    position:absolute;    
}
#background2 {
    background-image: url(http://i52.tinypic.com/293kp50.gif);   
    
    left: 512px;
    
    width: 512px;
    height: 317px;
    position:absolute;    
}

#yoshi {
    background: url(http://i53.tinypic.com/bdwhat.gif);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 250px;
    left: 50px;
}

body {
    overflow: hidden;
}
